
body {
  font-family: "Montserrat";
  text-align: center;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}
a {
  font-family: "Montserrat-Bold";
  color: white;
}

p {
  color: #8f8f8f;
}

/* hr {
  border-top: 1px solid grey;
} */
/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.small-heading {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  line-height: 1.0;
}
.section-heading {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 3% 10%;
}

/* Sections */

.colored-section {
  background-color: #52be80;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
#title navbar {
  background-color: #138d75;
}
/* .navbar {
  background-color: #138d75;
} */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.25rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 .5rem;
}

.nav-link {
  font-size: 1.25rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #52be80;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 1%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
/*
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
} */

/* Testimonial Section */

#testimonials {
  background-color: #52be80;
  padding-top: 0;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 30%;
  border-radius: 10%;
  /* margin: 2px; */
}

#intro {
  background-color: #52be80;
}

.intro-text1 {
  font-size: 3rem;
  line-height: 1.5;
}

.intro-image1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  height: 520px;
  width: I 760px;
  border-radius: 5%;
  margin: 0px;
}
/*
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
} */

/* Pricing Section */

#pricing {
  padding: 30px;
}

.price-text {
  font-size: 2rem;
  /* line-height: 1.5; */
}

.pricing-column {
  padding: 2% 1%;
}

.edr-image {
  width: 100%;
}

/* CTA Section */
.btn1 {
  width: 25%;
  margin: 50px auto 2px;

}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
